<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ToDoList</title>

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true" />

    <link rel="stylesheet"
          href="~/ToDoList.PL.styles.css"
          asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <p class="fw-bold my-0 mx-3  text-success">
                    ToDoList
                </p>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                       asp-controller="Home"
                                       asp-action="Index">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                       asp-controller="Task"
                                       asp-action="Index">
                                    Tasks
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav d-flex justify-content-center align-items-center gap-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">

                                <span class="nav-link fw-bold">
                                    @User.Identity.Name
                                <br>
                                    <span>
                                        Role: @(User.IsInRole("Admin") ? "Admin" : "User")
                                    </span>
                                </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bg-danger text-white btn btn-danger fw-bold"
                                       asp-controller="Auth"
                                       asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                       asp-controller="Auth"
                                       asp-action="Login">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                       asp-controller="Auth"
                                       asp-action="Register">
                                    Register
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>